//scss for banner section
.img-fluid-banner {
    height: auto;
    width: 100%;
    z-index: 0.8;
  }

  .lets-find {
    z-index: 0.7;
    border-radius: 2rem;
    position: absolute;
    -webkit-box-shadow: 1px 2px 9px -2px #000000; //for shadow
     box-shadow: 1px 2px 9px -2px #000000;
     background-color: white;
     padding: 20px 50px 20px 50px;     
     margin-top: 80px;
  }

  .buy-sell-rent {
    z-index: 0.7;
    border-radius: 2rem;
    position: absolute;
     background-color: white;
     padding: 10px 50px 10px 50px;     
     margin-top: 450px;
  }

  .buttons-exclude {
    z-index: 0.7;
    // border-radius: 2rem;
    position: absolute;
    //  background-color: white;
     padding: 10px 50px 10px 50px;     
     margin-top: 400px;
  }

  
  


