.deluxePortion {
	.bg-blue {
		background-color: #186aa5;
		color: white;
		padding: auto;
	}
	span {
		&::first-line {
			font-weight: 700;
			font-size: 17px;
		}
	}
}

// nesting implemented

.bigger {
	margin: 5ch;
	line-height: 1.5;
	text-align: justify;
	text-justify: inter-word;
	&::first-line {
		font-weight: bold;
	}
}
.smaller {
	margin: 5ch;
	line-height: 2.3;
	text-align: justify;
	text-justify: inter-word;
}
//divides in 50%
.col-6 {
	flex: 50%;
}
.col-7 {
	flex: 50%;
}

.img-plan {
	height: 340px;
	width: 398px;
	padding:81px
}