.img-fluid-apt-dots {
    height: 268px;
    width: 315px;
    padding: 0px;
    top: 49px;
    right: -59px;
    position: relative;
    border-radius: 0rem;
    
}

.img-fluid-apt-dream {
    height: 75%;
    width: 90%;
    padding: 20px 50px 20px 50px;
    top: -219px;
    right: -64px;
    position: relative;
    

}

.vc {
    height: 24%;
    width: 46%;
    top: -583px;
    right: -24px;
    position: relative;
    border-radius: 2rem;
    
}

.drm-title {
    font-size: 25px;
    font-weight: 700;
    text-align:center;
    color: rgb(15, 170, 231);
}

.dreamApartment {
    padding: 50px 50px -10px 50px;
}

.sell-dream-apt {
    top: 250px;
    right: -27px;
    padding: 10px;
    position: relative; //position is relative
}



.buy-dream-apt {
    font-weight:900;
    font-size: 35px;
}
 
.prime
{
color:rgb(15, 170, 231);
 }