@import "apt-plans.scss";
@import "banner.scss";
@import "deluxe-portion";
@import "dream-apt";
@import "featured-apt";
@import "footer";
@import "navbar";
@import "selected-apt";
@import "variable";

h1 {
  color:$color-blue; //variable colour-blue used 
  font-family: verdana;
  font-size: 300%;
}
button {
  background-color: rgba(1, 104, 240, 0.842); /* Blue */
  border: none;
  border-radius: 0.8rem;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: (4px*4); //math operator used 4px*4=16px
}

.button-white {
  background-color: rgba(253, 253, 253, 0.842); /* Blue */
  border: none;
  border-radius: 0.8rem;
  color:gray;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

label {
  color: rgb(118, 130, 151);
}

// mixin for width: 100%;

@mixin width-100 {
  width: 100%;
}

.container {
  @include width-100;
  padding: 15px;
}

.img-fluid {
  height: auto;
  @include width-100;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.center
{
  text-align: center;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3{
margin-top: 30px;
}

.mt-5{
  margin-top: 50px;
}



.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.col-2 {
  flex: 50%;
}
/* Create 3 equal columns that sits next to each other */
.col-3 {
  flex: 33.33%;
}
/* Create 4 equal columns that sits next to each other */
.col-4 {
  flex: 25%;
}

.col-5 {
  flex: 75%;
}

.d-block {
  display: block;
}

.ml-5 {
  margin-left: 25%;
}

// variable for border radius used

img {
  border-radius: $border-radius-img;
}

.h1 {
  font-size: 25px;
  color: gray; //universal color
}

.img-modern-logo {
  border-radius: 0rem !important;
  width: 70%;
  height: auto;
}
//implementation of mixin for titles
@mixin section-title {
  color: rgb(56, 48, 48);
  .heading {
    font-size: 25px;
    font-weight: 700;
  }
  .heading-caption {
    font-size: 17px;
    color:gray;
    opacity: 0.8;
  }
}

.selectApartments {
  @include section-title; //uses mixin section-title
}

.featuredApartment {
  @include section-title; //uses mixin section-title
}

.bg-white {
  background-color: white;
  padding: 35px;
  border-radius: 1rem;
}



