.footer {
  background-color: #186aa5;
  color: white;
  padding: 20px;
}
.footer {
  a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
  }
}

.img-modern-logo-footer {
border-radius: 0rem !important; //aprt from universal style
width: 41%;
height: auto;
}

.copyright {
  background-color: #104f7c; //copyright section
  padding: 20px;
}

.copyright-text {
  position: relative;
  right: -46px;
  color: azure;
}